.header{
    width: 100%;
    height: 80px;
    background-color: #6b7eee;
    display: flex;
    justify-content: center;
    align-items: center;     
}
.nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    list-style: none;
    gap: 20px;
    color: #fff;
    font-size: 20px;
    
}
.nav li{
    margin-right: 15px;
}