.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  font-family:Arial, Helvetica, sans-serif;
}

.product {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  background: #fff;
}
.product img{
    max-width: 100%;
}

.product a{
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
}

.main-title{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    
}